:root{
    margin: 0px;
    padding: 0px;
    --darkCyan: hsl(185, 75%, 39%);
    --veryDark: hsl(229, 23%, 23%);
    --darkGrayBlue: hsl(227, 10%, 46%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--darkCyan);
    font-family: 'Kumbh Sans', sans-serif ;
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw bottom 50vh ;
    margin: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.card{
    background-color: whitesmoke;
    width: 325px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.cardHeader{
    width: 100%;
    display: block;
}
.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.252);
}
.cardImg{
    border: 5px solid whitesmoke;
    border-radius: 50%;
    margin-top: -53px;
}
.cardTitle{
    font-size: 2rem;
    span{
        color: var(--darkGrayBlue);
        font-weight: 400;
    }
}
.cardText{
    color: var(--darkGrayBlue);
    font-size: 1.6rem;
    margin-top: 0;
}
.cardFooter{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 1.3rem;
    p{
        letter-spacing: 1px;
        color: var(--darkGrayBlue);
    }
}
footer{
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color: var(--veryDark);
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1vh;
        color: whitesmoke;
        font-size: 1.2rem;
    }
    a{
        color: whitesmoke;
        text-decoration: none;
        margin-left: 0.5vw;
        margin-top: -0.3vh;
        font-size: 1.8rem;
    }
}